@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto|Roboto+Condensed');
body{	
	margin: 0;
	padding: 0;
	color: #999;
	font-family: 'Roboto Condensed', sans-serif;
}
*{
	transition: 0.04s;
	-webkit-transition: 0.01s;
	-moz-transition: 0.01s;
}
.div{
	justify-content: center;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    background-color:#27AE61;
    border-color: #b7b3b1;
}
.logo{
	font-size: 22px;
	color: #fff!important;

}
.logo span{
	font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
	color: rgba(5, 79, 14, 0.71);   
 	text-align: center;
    text-transform: uppercase;


}

.navbar-default .navbar-nav>li>a{
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.navbar-default .navbar-nav>li>a:hover{ color: #dbd0b2;
    background-color: rgb(8, 150, 48);}
.navbar-default .navbar-nav>li>a:frist-child:after{color:#42b061;}

.carousel-caption {
	text-align: left;
	left: 10%;
	top:50%;
	transform: translateY(-50%);

}
.carousel-caption h1{
	font-size: 60px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: #42b061;
}
.carousel-caption h2{
	max-width: 570px;
	font-size:50px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	color: white;

}

.btn-custom{
	text-transform: uppercase;
	color: #fff;
	padding: 15px 30px;
	background: #42b061;
	margin-right: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 13px;

}
.btn-custom:hover{
	background:#fff;
	color:#42b061;

}
.btn-custom last child:hover{
	background:#fff;
	color:#42b061;
}

.heading h2{
    text-transform: uppercase;
    border-bottom: 2px solid rgba(153, 153, 153, 0.35);
    padding-bottom: 8px;
    color: #27ae61;
    font-weight:bold;
    font-size: 45px;
    cursor: pointer;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.heading h2:hover {
    border-bottom: 2px solid green;
    padding-bottom: 8px;
    top: 50%;
    left: 50%;
    transform: scale(1);
}

.heading span{
	font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgba(61, 208, 80, 0.71);    
    text-align: center;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
    margin-bottom: 30px;
}
.social{
	display:inline-block;
	margin-left: 60px;
}

.social li{

}
.social li a{
	background: #E1E1E1;
	color: #42b061;
	width: 16px;
	height: 16px;
	display: block;
	text-align: center;
	border-radius:3px;
	font-size: 12px;

}
.social li a:hover{
	background: #42b061;
	color: #E1E1E1;
}
.btn-custom1{
	text-transform: uppercase;
	color: #fff;
	padding: 30px 30px;
	background: #42b061;
	margin-right: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 13px;
}

#team{
	padding: 50px 0;
    background-color: rgba(0,0,0,.075);
}

.info{
    background: #ffffff;
    margin-bottom:26px;
}



.doc-content{
padding: 20px 30px;
}
.doc-content h5{
	color: #000;
	padding-top: 10px;
	font-size: 25px;
	font-weight: bold;

}
.doc-content span{
	text-align: center;
	font-size: 18px;

	
}
.doc-content p{
	font-size:18px;
	color:black;

}
.info .social {
    display: inline-block;
    margin-left: 0px;
}

/* gallery */
#gallery{
	padding: 60px 0;
	background: #ffffff;


}
.gallery{
	position: relative;

}
.gallery a{
	color: #888;
    background: #fff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding: 0px;
    display: block;
    text-align: center;
    line-height: 35px;

}
.gallery-pic{
	margin: 40px 0;
}
.gallery .search {
    position: absolute;
    top: 60%;
    left: 60%;
transform: translate(-60%,-60%);
opacity: 0;
}
.gallery .link{
	position: absolute;
    top: 60%;
    left: 40%;
   transform: translate(-40%,-60%);
   opacity: 0;

}
.gallery img{

}
.gallery .search:hover{
	top: 60%;
    left: 60%;
transform: translate(-60%,-60%);
opacity: 1;

}
.gallery .link:hover{
	top: 60%;
    left: 40%;
   transform: translate(-40%,-60%);
   opacity: 1;

}




/* pricing */
#price{
	padding: 60px 0;
    background-color: rgba(0,0,0,.075);
}
.fix {
	border: 5px solid #d3e5cc;
    width: 50.33%
 	height:auto;
    border-radius: 5px;
    text-align: center;
}

th{
	color:#ffffff;
    background: rgba(66, 176, 97, 0.72);
    padding: 40px 10px;
    border: 5px solid #3c763d;
    border-radius: 8px;
    text-align: center;
}
.head{
	text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 50px;
	background-color: #dff0d8;
    padding: 49px 0;
}
.money{
	background-color:#27ae61;
    font-size: 30px;
    color: #fff;
    padding: 20px 40px;
    border: 2px solid #5db55f;
    border-radius: 10px;

}
.join{
	background-color: #27ae61 !important;
    font-size: 20px;
    color: #ffffff;
    padding: 20px 40px;
    border: 2px solid #5db55f;
    border-radius: 10px;
    text-align: center;
    box-sizing: content-box;


}
.fix{
	width: 50.33%
	height:auto;
}


/* contact */
#contact{
	padding: 60px 0;
	background: #ffffff;

}
